@{
    ViewData["Title"] = "Home Page";
}
<style>
    .nav-text {
        color: #FFFBFB;
        font-size: 68px;
        -webkit-text-stroke-width: 1px;
        stroke-width: 1px;
        -webkit-text-stroke-color: #000;
        stroke: #000;
        text-shadow: 0px 0px 10px rgb(0 0 0 / 30%);
        padding-top: 100px;
    }

    .akapit {
        display: flex;
        padding-top: 200px;
    }

    .opis {
        text-align: left;
        padding-right: 100px;
    }
</style>

<div class="text-center nav-text">
    <h1 class="display-4">Od 20 lat dbamy o twój uśmiech! </h1>

</div>

<div class="akapit">

    <p class="opis">
        Od ponad 20 lat potwierdzamy, że umiemy leczyć i troszczyć się o piękny i zdrowy uśmiech naszych Pacjentów. Wyróżniają nas europejskie standardy leczenia, nowocześnie wyposażone gabinety i doświadczeni lekarze. Nasz zespół lekarzy stomatologów to specjaliści wysokiej klasy, rocznie wykonują ponad 5 700 zabiegów implantologicznych i ponad 30 000 zabiegów chirurgicznych.

        W gabinetach oferujemy kompleksową opiekę stomatologiczną dla dorosłych i dzieci. Wierzymy w indywidualne podejście do  Pacjenta i dostosowujemy plan leczenia do jego potrzeb.

        Naszą praktyką jest aby każdą wizytę rozpoczynać od kompleksowej diagnostyki Pacjenta, przeprowadzanej w pracowniach wyposażonych w nowoczesny sprzęt (tj. tomograf komputerowy, pantomogram i cefalostat cyfrowy) oraz na bieżąco odpowiadać na pytania i wątpliwości.

    </p>

    <img src="~/images/VINCI006-scaled.jpg" style="height:30%; width:30%">
</div>




