@model UserModel

@{
    ViewBag.Title = "Register";
}
<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<div class="text-center nav-text">
    <h1 >Zarejestruj się!</h1>
</div>


<div class="body-tresc">
@using (Html.BeginForm("Register", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <form asp-controller="User" asp-action="Register" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" />
                               
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                               
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <input type="submit" value="Zarezerwuj" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
    
}
</div>
<footer class="border-top footer text-muted" style="margin-top: 10%">
    <div class="container">
        &copy; 2023 - gabinet_rejestracja - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
