@{
    ViewData["Title"] = "Home Page";
}

<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<div class="text-center nav-text">
    <h1 class="display-4">Od 20 lat dbamy o twój uśmiech! </h1>
 
</div>
<div class="body-tresc">
    <h1 class="nav-akapit">
        O nas
    </h1>
    <div class="akapit">
       
        <p class="main-opis">
            Od ponad 20 lat potwierdzamy, że umiemy leczyć i troszczyć się o piękny i zdrowy uśmiech naszych Pacjentów. Wyróżniają nas europejskie standardy leczenia, nowocześnie wyposażone gabinety i doświadczeni lekarze. Nasz zespół lekarzy stomatologów to specjaliści wysokiej klasy, rocznie wykonują ponad 5 700 zabiegów implantologicznych i ponad 30 000 zabiegów chirurgicznych.

            W gabinetach oferujemy kompleksową opiekę stomatologiczną dla dorosłych i dzieci. Wierzymy w indywidualne podejście do  Pacjenta i dostosowujemy plan leczenia do jego potrzeb.

            Naszą praktyką jest aby każdą wizytę rozpoczynać od kompleksowej diagnostyki Pacjenta, przeprowadzanej w pracowniach wyposażonych w nowoczesny sprzęt (tj. tomograf komputerowy, pantomogram i cefalostat cyfrowy) oraz na bieżąco odpowiadać na pytania i wątpliwości.

        </p>

        <img src="~/images/wybielanie.jpg" style="height:30%; width:30%">
    </div>


</div>
<footer class="border-top footer text-muted" style="margin-top: 10%">
    <div class="container">
        &copy; 2023 - gabinet_rejestracja - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>




