@{
    ViewData["Title"] = "Home Page";
}

<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>

<div class="text-center nav-text">
    <h1 >Od 20 lat dbamy o twój uśmiech! </h1>
 
</div>
<div class="body-tresc">
    <h1 class="nav-akapit">
        O nas
    </h1>
    <div class="akapit">
       <div>
            <p class="main-opis">
                Od ponad 20 lat potwierdzamy, że umiemy leczyć i troszczyć się o piękny i zdrowy uśmiech naszych Pacjentów. Wyróżniają nas europejskie standardy leczenia, nowocześnie wyposażone gabinety i doświadczeni lekarze. Nasz zespół lekarzy stomatologów to specjaliści wysokiej klasy, rocznie wykonują ponad 5 700 zabiegów implantologicznych i ponad 30 000 zabiegów chirurgicznych.

                W gabinetach oferujemy kompleksową opiekę stomatologiczną dla dorosłych i dzieci. Wierzymy w indywidualne podejście do  Pacjenta i dostosowujemy plan leczenia do jego potrzeb.

                Naszą praktyką jest aby każdą wizytę rozpoczynać od kompleksowej diagnostyki Pacjenta, przeprowadzanej w pracowniach wyposażonych w nowoczesny sprzęt (tj. tomograf komputerowy, pantomogram i cefalostat cyfrowy) oraz na bieżąco odpowiadać na pytania i wątpliwości.

            </p>
            <p class="main-opis-cytat">
                "Gdy po raz pierwszy pojawiłem się w tym gabinecie nie miałem już wcale zębów, po trzech wizytach odrosły wszystkie!" ~ Madonna 
            </p>
            <img src="./images/madonna.jpg" style="padding-right: 50px; position:center;" />
        </div>
       
        <img src="~/images/foto3.jpg" style="height:30%; width:30%">
        
    </div>
    <div class="text-center" style="background-image: url('/images/back.jpg');background-repeat:repeat;  background-size:contain; background-position:center;margin-left: -100%; margin-right: -100%">
        <h1 class="nav-akapit-center" style="padding-top: 80px;">
            “Lekarz ma tylko jedno zadanie: wyleczyć chorego. Jaką drogą do tego dotrze jest obojętne.”

        </h1>
        <img src="~/images/Matt.jpg" style="max-block-size: 10% margin-top: 5%; position: center;  " />
        <p style="font-family:Calibri; margin-top: 5px; padding-bottom: 80px;">
            Dr. Matt Miller
        </p>
       
    </div>
    <div style="display:flex; flex-direction:column; align-items:center">
        <h1 class="nav-akapit-center"> Nasze Usługi</h1>
       <ul  style="list-style-type:none; padding: 0; font-size: large; margin-top: 10px; font-size: 150%">
            <li style="margin-top: 5px;">
                stomatologia zachowawcza
            </li>
            <li style="margin-top: 5px;" >
                ortodoncja
            </li>
            <li style="margin-top: 5px;">
                implantologia
            </li>
            <li style="margin-top: 5px;">
                leczenie okluzji
            </li>
            <li style="margin-top: 5px;">
                periodontologia
            </li>
            <li style="margin-top: 5px;">
                protetyka
            </li>
            <li style="margin-top: 5px;">
                stomatologia estetyczna
            </li>
       </ul>
        <button class="button-uslugi" onclick="location.pathname='/Home/Privacy'">Sprawdź nasze usługi!</button>
    </div>
    <div class="text-center" style="background-image: url('/images/back.jpg');background-repeat:repeat;  background-size:contain; background-position:center;margin-left: -100%; margin-right: -100%">
        <h1 class="nav-akapit-center" style="padding-top: 80px;">
            “Znakomici lekarze nie leczą się u siebie samych, gdyż zbyt wiele by ich to kosztowało."

        </h1>
        <img src="~/images/Patt.jpg" style="max-block-size: 10% margin-top: 5%; position: center;  " />
        <p style="font-family:Calibri; margin-top: 5px; padding-bottom: 80px;">
            Dr. Patt Miller
        </p>

    </div>

</div>

<footer class="border-top footer text-muted" style="margin-top: 10%">
    <div class="container">
        &copy; 2023 - gabinet_rejestracja
    </div>
</footer>




