@{
    ViewData["Title"] = "Home Page";
}
<head>
   
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<div class="text-center nav-text">
    <h1 >Nasze usługi</h1>

</div>

<div>
    <div class="body-tresc">
       
        <h1 class="nav-akapit">
            Konsultacje u dentysty
        </h1>

        <div class="akapit">
            <div>
                <p class="opis">
                W dobie internetu, pierwszym odruchem w przypadku pojawienia się dolegliwości chorobowych, jest sprawdzenie, co mogą oznaczać objawy i jak się od nich uwolnić. Każdy lekarz powie, że nie jest to dobry sposób na odzyskanie zdrowia. Czasem wręcz szkodliwy i niebezpieczny.
                Dlatego jeśli chcesz zadbać o zdrowie zębów i jamy ustnej, najlepszym wyborem jest konsultacja stomatologiczna. Można z niej skorzystać zarówno wtedy, gdy pojawią się niepokojące zmiany w jamie ustnej, jak i wówczas, gdy pozornie nic złego się w niej nie dzieje

            </p>
                @{
                string userEmail;
                if (Context.Request.Cookies.TryGetValue("Email", out userEmail))
                {
                    <button class="button-wizyta" onclick="location.pathname='/Appointment/Create'">Umów się na wizytę!</button>
                }
                else
                 {

                    <button class="button-wizyta" onclick="location.pathname='/User/Register'">Umów się na wizytę!</button>
                 }
                }

            </div>
            
            <img src="~/images/konsultacje.jpg" style="height:30%; width:30%">
        </div>

    </div>
    <div>
        <h1 class="nav-akapit">
            Higienizacja profilaktyczna
        </h1>
        <div class="akapit">
            <div>
                <p class="opis">

                    Jeśli pomimo codziennej higieny jamy ustnej, na którą składa się mycie zębów, nitkowanie i płukanie, na zębach pojawi się kamień bądź osad, to znak, że czas wybrać się do dentysty na higienizację profilaktyczną.  Zalecamy zwykle zrobienie jej raz na pół roku. W ten sposób łatwiej  zapobiec wielu procesom chorobowym zębów.
                    Higienizacja zębów polega m.in. na usuwaniu różnymi metodami kamienia nazębnego, osadu i przebarwień. Każdą  z metod dostosowujemy do efektu, jaki z jej pomocą ma być uzyskany. Dodatkowo, stosujemy lakierowanie i lakowanie zębów.

                </p>
                @{
                if (Context.Request.Cookies.TryGetValue("Email", out userEmail))
                {
                    <button class="button-wizyta" onclick="location.pathname='/Appointment/Create'">Umów się na wizytę!</button>
                }
                else{

                        <button class="button-wizyta" onclick="location.pathname='/User/Register'">Umów się na wizytę!</button>
                }
                }
            </div>
                 <img src="~/images/higienizacja.jpg" style="height:30%; width:30%">
        </div>


    </div>
       <div>
        <h1 class="nav-akapit">
            Wybielanie zębów
        </h1>
        <div class="akapit">
            <div>
                    <p class="opis">

                
                Wybielanie zębów w gabinecie dentystycznym jest zabiegiem bezpiecznym i skutecznym. Choć efekt nie jest stały, to warto co jakiś czas z niego skorzystać. Wybielanie zębów jest czymś innym niż rozjaśnianie. To pierwsze dotyczy zabiegów z użyciem środków wybielających. Rozjaśnianie natomiast, uzyskuje się po usunięciu osadów i zanieczyszczeń z powierzchni zębów.
                
            </p>
            @{
                if (Context.Request.Cookies.TryGetValue("Email", out userEmail))
                {
                    <button class="button-wizyta" onclick="location.pathname='/Appointment/Create'">Umów się na wizytę!</button>
                }
                else
                {

                        <button class="button-wizyta" onclick="location.pathname='/User/Register'">Umów się na wizytę!</button>
                }
                }
            </div>
            <img src="~/images/VINCI006-scaled.jpg" style="height:30%; width:30%">
        </div>


    </div>
  




</div>

<footer class="border-top footer text-muted" style="margin-top: 10%">
    <div class="container">
        &copy; 2023 - Matt&Patt Stomatology
    </div>
</footer>



