@model AppointmentModel
@using System.Data.SqlClient
@{
    ViewData["Title"] = "Zarezerwuj wizytę";
}

<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<div class="text-center nav-text">
    <h1 >Zarezerwuj wizytę</h1>
    </div>
    <style>
        .body-wizyta{
            
            margin-top: 20%;
            position: center;
        }

    </style>

<div class="body-wizyta">
            @{
                string UserId;

                if (Context.Request.Cookies.TryGetValue("UserId", out UserId))
                {
                    <form asp-controller="Appointment" asp-action="Create" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label asp-for="Date" class="control-label"></label>
                                <div id="calendarContainer"></div>
                                <input type="hidden" id="Date" name="Date" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label asp-for="Comment" class="control-label"></label>
                                <input asp-for="Comment" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <input type="submit" value="Zarezerwuj" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                }
            }
  
    <div style="margin-top: 15%;">
        <a asp-action="Lista">Wróć do listy</a>
    </div>

</div>
  <footer class="border-top footer text-muted" style="margin-top: 10%">
        <div class="container">
            &copy; 2023 - gabinet_rejestracja - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
        <script src="/js/calendar.js"></script>
}

